:root {
    --bg-color: #f0ffff !important;
    --bg-color-seguranca: #2F5D46 !important;
    --text-color-azul:#0995ED !important;
    --text-color-verde: #0ed985 !important;
    --text-color-lilas: #A381F0 !important;
    --text-color-amarelo: #FFC938 !important;
    --text-color-vermelho: #f85b5b !important;
    --text-color-preta: #000 !important;
    --text-seguranca-titulo: #DFF7EB !important;
    --text-color-seguranca: #FAFAFA !important;
    --text-destaque-seguranca: #AEEFC5 !important;
    --btn-seguranca: #AAC9C0 !important;
}

.img_ajuste {
    width: 100%;
    height: 500px;
}
.bg_color{
    background-color: var(--bg-color);
}
.color_azul {
    color: var(--text-color-azul);
}
.color_verde{
    color: var(--text-color-verde);
}

.color_lilas{
    color: var(--text-color-lilas);
}
.color_vermelho{
    color: var(--text-color-vermelho);
}

.color_amarelo {
    color: var(--text-color-amarelo);
}

.color_preta {
    color: var(--text-color-preta);
}
.color_titulo {
    color: var(--text-seguranca-titulo);
}

.color_seguranca {
    color: var(--text-color-seguranca);
}

.color_destaque{
    color: var(--text-destaque-seguranca);
}

.bg_seguranca{
    background-color: var(--bg-color-seguranca);
}

.button_seguranca {
    background-color: var(--btn-seguranca);
    color: var(--bg-color-seguranca);
}