:root {
    --titulo-sangue: #8A0303 !important;
    --bg-sangue: #F8F4F4 !important;
    --destaque-sangue: #4B0000 !important;
    --text-sangue: #2B2B2B !important;
    --bg-idoso: #F6ECFE!important;
    --titulo-idoso: #7A1FA2 !important;
    --text-idoso: #2B2B2B !important;
    --destaque-idoso: #C77DFF !important;
    --bg-ambiente: #E8F5E9 !important;
    --titulo-ambiente: #2E7D32 !important;
    --text-ambiente: #1B1B1B !important;
    --destaque-ambiente: #A5D6A7 !important;
}

.bg_sangue {
    background-color: var(--bg-sangue);
}
.titulo_sangue {
    color: var(--titulo-sangue);
}

.destaque_sangue {
    color: var(--destaque-sangue);
}

.text_sangue {
    color: var(--text-sangue);
}

.bg_idoso{
    background-color: var(--bg-idoso);
}
.titulo_idoso{
    color: var(--titulo-idoso);
}
.text_idoso {
    color: var(--text-idoso);
}
.destaque_idoso{
    color: var(--destaque-idoso);
}

.bg_ambiente{
    background-color: var(--bg-ambiente);
}
.titulo_ambiente{
    color: var(--titulo-ambiente);
}
.text_ambiente{
    color: var(--text-ambiente);
}
.destaque_ambiente{
    color: var(--destaque-ambiente);
}