:root {
    --bg-transito: #FDE27A !important;
    --titulo-transito: #1A1A1A !important;
    --text-tansito: #2B2B2B !important;
    --text-destaque: #FF6F3C !important;
    --bg-materna: #F7EAFB !important;
    --text-materna: #2E2E2E !important;
    --titulo-materna: #5B4E8C !important;
    --destaque-materna: #87A9FF !important;
    --bg-combate: #FFF7ED !important;
    --text-combate: #1F1F1F !important;
    --titulo-combate: #FF7A29 !important;
    --destaque-combate: #FF9F65 !important;
}
.bg_transito{
    background-color: var(--bg-transito);
}
.titulo_transito {
    color: var(--titulo-transito);
}

.text_transito {
    color: var(--text-tansito);
}

.destaque_transito {
    color: var(--text-destaque);
}

.bg_materna {
    background-color: var(--bg-materna);
}

.titulo_materna {
    color: var(--titulo-materna);
}

.text_materna {
    color: var(--text-materna);
}

.destaque_materna {
    color: var(--destaque-materna);
}

.bg_combate {
    background-color: var(--bg-combate);
}

.titulo_combate {
    color: var(--titulo-combate);
}

.text_combate {
    color: var(--text-combate);
}
.destaque_combate {
    color: var(--text-destaque);
}