:root {
    --bg-color:#FFF !important;
    --text-color-sangue: #8A0303!important;
    --text-color-idoso: #7533a2!important;
    --text-color-ambiente: #315c36!important;
    --text-color-maio: #F79A2D!important;
    --text-color-autismo: #0995ed!important;
    --text-color-materna: #7533a2!important;
    --text-color-transito: #dfd000!important;
    --text-color-segurança: #03c473!important;
}

.doacaoSangue:hover {
    color: var(--text-color-sangue);
}

.violetaIdoso:hover {
    color: var(--text-color-idoso);
}

.ambiental:hover {
    color: var(--text-color-ambiente);
}

.maio:hover {
    color: var(--text-color-maio) ;
}

.abril:hover {
    color: var(--text-color-autismo);
}

.junho:hover {
    color: var(--text-color-sangue);
}

.saudeMaterna:hover {
    color: var(--text-color-materna);
}

.transito:hover {
    color: var(--text-color-transito);
}

.seguranca:hover {
    color: var(--text-color-segurança);
}

.form {
    resize: none;
}